@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500&display=swap');

body {
	background: black;
	color: white;
	font-family: 'Hind Siliguri', sans-serif;
}

.ye {
	color: white;
}
h1, h4 {
 text-align: center;
padding-bottom: 0;
	color: #c9c9c9;
}

h4 {
	font-weight: 400;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid gray;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.7rem;
	background-color: rgb(58, 58, 60);
	color: white;
	border: none;
	border-radius: 5px;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
}
